{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="text-center">
        StudioGonz Speciaalbierbar Admin
    </h1>
    <h2 class="text-center">
        Wachtwoord wijzigen
    </h2>

    <div class="container">
        <a href="/admin">< Terug</a>
        <form method="post" action="/service/admin/user/change-password" class="form-handler">

            <div class="mb-3">
                <label for="password1" class="form-label">
                    Gebruikersnaam
                </label>
                <input type="text" disabled="disabled" value="{{ app.user.username }}" class="form-control"/>
            </div>
            <div class="mb-3">
                <label for="password1" class="form-label">
                    Nieuwe wachtwoord
                </label>
                <input type="password" name="password1" id="password1" class="form-control"/>
            </div>
            <div class="mb-3">
                <label for="password2" class="form-label">
                    Herhaal wachtwoord
                </label>
                <input type="password" name="password2" id="password2" class="form-control"/>
            </div>
            <div class="mb-3">
                <button type="submit" class="btn btn-success">
                    Opslaan
                </button>
            </div>
        </form>
    </div>

{% endblock %}